body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-aktif:hover {
      background-color: black ;
      color: white;
}
.navbar {
  background-color:  #22668A;
}

ListGroup-hasil{
  /* height: 650px; */
  background-color: #22668A;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



